@font-face {
	font-family: 'weatherIcons';
	src: url('weather-icons-master/font/weathericons-regular-webfont.eot');
	src: url('weather-icons-master/font/weathericons-regular-webfont.woff') format('woff');
	src: url('weather-icons-master/font/weathericons-regular-webfont.woff2') format('woff2');
    src: url('weather-icons-master/font/weathericons-regular-webfont.ttf')  format('truetype');
    src: url('weather-icons-master/font/weathericons-regular-webfont.svg') format('svg');
}
body, html {
	text-align: center;
	color: white;
	font-family: 'Mirza';
	background-color: #00796B;
	background: linear-gradient(-45deg, #24C6DC, #514A9D);
	background: -webkit-linear-gradient(-45deg, #24C6DC, #514A9D);
	background: -o-linear-gradient(-45deg, #24C6DC, #514A9D);
	background: -moz-linear-gradient(-45deg, #24C6DC, #514A9D);
	background: -ms-linear-gradient(-45deg, #24C6DC, #514A9D);
	margin: 0; 
	height: 100%; 
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}
.content {
	border: 1px solid rgba(1, 1, 1, 0);
	border-radius: 0px;
	margin: 5%;
	color: white;
	height: 80%;
	box-shadow: 5px 2px 15px #464646;
	background-color: #9CCC65;
}
._city {
	font-size: 7vw;
	text-shadow: 1px 6px 7px #242424;
	padding: 10px;
}
._temp {
	font-size: 5vw;
}
._unit {
	font-size: 6vw;
	margin-top: 30px;
	text-shadow: 1px 6px 7px #242424;
}
._date {
	font-size: 3vw;
	text-decoration: bold;
}
._weather {
	font-size: 3vw;
	padding-top: 30px;
}
._icon {
	font-size: 6vw;
}
a {
	color: white;
}
a:hover, a:visited {
	color: white;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('loading.gif') 50% 50% no-repeat rgba(249,249,249, 0.7);
}